@media only screen and (min-width:1025px){
  .header {
    /* grid-area: header; */
    background-color: black;
    width: 100%;
  }
  .innerHeader {
    width: 100%;
  }

  #udacityLogo {
    width: 20%;
  }
}
