@media only screen and (min-width:1025px){
  /*** For Laptop: ***/
  * {
    padding: 3px;
    box-sizing: border-box;
  }
  /* For header */
  header {
    display: flex;
    flex-direction: line;
  }
  #photo {
    flex: 40%;
  }
  #name-and-job-title {
    flex: 60%;
    flex-direction: row;
  }
  #my-photo {
    width: 100%;
  }
  #name {
    font-family: "Courier New";
    text-transform: uppercase;
    text-align: right;
    font-size: 6vw;
  }
  #job-title {
    font-family: "Courier New";
    text-transform: uppercase;
    text-align: right;
    font-size: 3vw;
  }
    /* For main */
    #codeImg {
      width: 100%;
    }
    #projects-title {
      font-family: "Courier New";
      color: gray;
    }
    .projects::after {
      content: "";
      clear: both;
      display: table;
    }
    .project {
      float: left;
      width: 33.3%;
      padding: 5px;
    }
    .project-img {
      width: 100%;
    }
    .project-title {
      font-family: "Courier New";
      text-transform: uppercase;
      text-align: center;
      color: #2d3c49;
    }
    .project-link {
      font-family: "Courier New";
      text-align: center;
      color: #7d97ad;
    }
}
