/*** For all devices: ***/
* {
  box-sizing: border-box;
  font-family : 'Ubuntu', sans-serif;

}


#main-info {
  text-align: center;
  font-size: 6vw;
  padding: 10%;
}

.button {
  border-radius: 5px;
  background-image: linear-gradient(to top, #cfcfcf 16%, #fcfcfc 79%);
  border: 1px solid #000;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 200px; }

/* Animated Buttons - "Pressed Effect" */
.icon {
  margin-top: 10%;
}

.button {
  width: 100%;
  background-image: linear-gradient(to top, lightblue 16%, lightblue 79%);
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: blue}

.button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Blog */
.article-header {
  font-weight: bold; }

/* Menu */
:link {
  text-decoration: none; }

/* For header */
header {
  display: flex;
  justify-content: space-around; }

.photo {
  flex: 40%; }

#name-and-job-title {
  flex: 60%;
  flex-direction: row; }

#my-photo {
  width: 50%;
  margin-left: 30%;
}

#name {
  text-transform: uppercase;
  text-align: right;
  font-size: 6vw;
}

/* For main */
#codeImg {
  width: 100%; }

#projects-title {
  color: gray; }

.project-img {
  width: 100%; }

.project-title {
  text-transform: uppercase;
  text-align: center;
  color: #2d3c49; }

.project-link {
  text-align: center;
  color: #7d97ad; }

.projects {
  display: flex;
  flex-wrap: wrap; }

footer {
  text-align: center; }

@media only screen and (max-width: 415px) {
  /*** For iPhone 6. Because I use iPhone 6  :) ***/


  .project {
    width: 100%;
  }

  .menu {
    font-size: 5vw;
    background-color: gray;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 1024px) {
  /*** For iPad: ***/
  .project {
    width: 50%;
  }

  .menu {
    font-size: 3vw;
    background-color: gray;
    color: white;
    text-align: center;
    height: 75px;
    line-height: 75px;
  }
}

@media only screen and (min-width: 1025px) {
  /*** For Laptop: ***/
  #my-photo {
    width: 30%; }

  #name {
    text-transform: uppercase;
    text-align: right;
    font-size: 4vw; }

  #job-title {
    text-transform: uppercase;
    text-align: right;
    font-size: 2vw; }

  .project {
    width: 33.3%; }

  .menu {
    font-size: 2vw;
    background-color: gray;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 100px; } }
