/* For menu */
.menuComponent {
  background-color: #333;
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.link {
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  background-color: #111;
}

/* For about */
.section {
  padding: 2%;
}

.avatar {
  border-radius: 50%;
  width: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 10px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* For description */
.description {
  display: flex;
  padding: inherit;
}

.intro-avatar {
  margin: 1%;
}

.intro-description {
  margin: auto;
  text-align: -webkit-center;
}

.hello-words {
  text-align: center;
}

/* For experience */
.logo {
  width: 100px;
}

.companyDescription {
  padding: inherit;
}

.skill {
  background: grey;
  color: white;
  margin: 10px;
  padding: 5px;
  text-align: center;
}